<aside class="sidebar">
  <a class="sidebar-title" href="{{ .Site.Home.RelPermalink }}">Tadahiro Taniguchi (谷口忠大) / Tanichu (たにちゅー)</a>
  <ul class="sidebar-nav">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}"{{ if eq $.RelPermalink .URL }} class="active"{{ end }}>{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <div class="sidebar-bottom">
    <div class="lang-switch">
      {{ if .IsTranslated }}
        {{ range .Translations }}
        <a href="{{ .RelPermalink }}" class="lang-btn">{{ .Language.LanguageName }}</a>
        {{ end }}
      {{ else }}
        {{ range .Site.Languages }}
          {{ if ne .Lang $.Site.Language.Lang }}
          <a href="{{ printf "/%s/" .Lang | relLangURL }}" class="lang-btn">{{ .LanguageName }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</aside>
